fastapi
uvicorn[standard]
python-dotenv
google-generativeai
pillow
supabase # Ensure this is 'supabase', not 'supabase-client' if you installed 'supabase'
aiohttp # <-- ADD THIS LINE
python-multipart
cors-middleware
pillow-heif